.gameField {

}
.gridTable {
    border-collapse: collapse;
}
.gridTable td {
    color: blue;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;

    border: 1px solid #ddd;
}

.gridTable td > div {
    height: 100%;
    width: 100%;
}